
<form [formGroup]="myForm" (ngSubmit)="addKitten()" >

    <label for="name">Name</label>
    <input type="text" name="name" required  formControlName="name">

    <label for="breed">Breed</label>
    <input type="text" name="breed" required formControlName="breed">

    <label for="date">Date</label>
    <input type="date" name="date" required formControlName="date">

    <label for="img">Picture link</label>
    <input type="text" name="img" required formControlName="img">

    <button type="submit" [disabled]="myForm.invalid" >Add kitten</button>

</form>


